<launch>
    <!-- Sử dụng thời gian giả lập -->
    <param name="use_sim_time" value="true"/>
  
    <!-- Mở Gazebo với world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find car_fix_wheels)/worlds/custome_world.world"/>
    </include>
  
    <!-- Load mô hình robot -->
    <param name="robot_description"
           command="$(find xacro)/xacro '$(find car_fix_wheels)/urdf/car_fix_wheels.urdf'" />
  
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  
    <!-- Spawn robot trong Gazebo -->
    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model"
          args="-param robot_description -urdf -model car_fix_wheels -x 0 -y 0 -z 0.1"
          output="screen"/>
  
     <!-- Load các controller -->
    <rosparam file="$(find car_fix_wheels)/config/controllers.yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner"
          args="joint_state_controller arm_1_joint_controller arm_2_joint_controller"
          output="screen"/>
   
    <!-- Node gmapping -->
    <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" output="screen">
      <param name="base_frame" value="base_link"/>
      <param name="odom_frame" value="odom"/>
      <param name="map_update_interval" value="2.0"/>
      <param name="maxUrange" value="8.0"/>
      <param name="minimumScore" value="200"/>
      <param name="delta" value="0.05"/>
      <param name="particles" value="30"/>
      <remap from="scan" to="/scan"/>
      <!-- <rosparam command="load" file="$(find car_fix_wheels)/config/slam_config.yaml"/> -->
    </node>
  
    <!-- Mở RViz với config -->
    <node name="rviz" pkg="rviz" type="rviz"
          args="-d $(find car_fix_wheels)/rviz/gmapping.rviz"
          output="screen"/>
  </launch>
  