<launch>
    <param name="use_sim_time" value="true" />
  
    <!-- Localization bằng AMCL -->
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
      <param name="odom_frame_id" value="odom"/>
      <param name="base_frame_id" value="base_link"/>
      <param name="global_frame_id" value="map"/>
      <param name="update_min_d" value="0.2"/>
      <param name="update_min_a" value="0.2"/>
      <param name="min_particles" value="500"/>
      <param name="max_particles" value="2000"/>
      <param name="resample_interval" value="1"/>
    </node>
  
    <!-- Move base để lập kế hoạch di chuyển -->
    <node pkg="move_base" type="move_base" name="move_base" output="screen">
      <param name="base_global_planner" value="navfn/NavfnROS"/>
      <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
  
      <!-- Global Costmap -->
      <param name="global_costmap/global_frame" value="map"/>
      <param name="global_costmap/robot_base_frame" value="base_link"/>
      <param name="global_costmap/static_map" value="true"/>
  
      <!-- Local Costmap -->
      <param name="local_costmap/global_frame" value="odom"/>
      <param name="local_costmap/robot_base_frame" value="base_link"/>
      <param name="local_costmap/static_map" value="false"/>
      <param name="local_costmap/rolling_window" value="true"/>
      <param name="local_costmap/width" value="3.0"/>
      <param name="local_costmap/height" value="3.0"/>
      <param name="local_costmap/resolution" value="0.05"/>
  
      <!-- Common params -->
      <param name="local_costmap/obstacle_range" value="2.5"/>
      <param name="local_costmap/raytrace_range" value="3.0"/>
      <param name="local_costmap/inflation_radius" value="0.3"/>
      <param name="local_costmap/observation_sources" value="scan"/>
      <param name="local_costmap/scan/sensor_frame" value="laser"/>
      <param name="local_costmap/scan/data_type" value="LaserScan"/>
      <param name="local_costmap/scan/topic" value="/scan"/>
      <param name="local_costmap/scan/marking" value="true"/>
      <param name="local_costmap/scan/clearing" value="true"/>
    </node>
  
    <!-- Mở RViz để gửi goal -->
    <node name="rviz" pkg="rviz" type="rviz"
          args="-d $(find car_fix_wheels)/rviz/gmapping.rviz"
          output="screen"/>
  </launch>
  