<launch>
  <!-- Sử dụng thời gian mô phỏng -->
  <param name="use_sim_time" value="true" />

  <!-- Load môi trường Gazebo với thế giới trống -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

  <!-- Tham số mô hình robot -->
  <arg name="model" />
  <param name="robot_description" textfile="$(find car_fix_wheels)/urdf/car_fix_wheels.urdf" />

  <!-- Node GUI để điều chỉnh joint -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <!-- Node xuất trạng thái robot -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Khởi động Rviz với file cấu hình -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find car_fix_wheels)/rviz/test_reviz.rviz" />

  <!-- Spawn mô hình robot vào Gazebo -->
  <!-- <node name="spawn_model" pkg="gazebo_ros" type="spawn_model"
        args="-file $(find car_fix_wheels)/urdf/car_fix_wheels.urdf -urdf -model car_fix_wheels" output="screen" /> -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args="-urdf -model car_fix_wheels -z 0.042 -param robot_description"/>
  <!-- Giả lập hiệu chuẩn joints -->
  <node name="fake_joint_calibration" pkg="rostopic" type="rostopic"
        args="pub /calibrated std_msgs/Bool true" />

  <!-- Load các thông số bộ điều khiển -->
  <!-- <rosparam file="$(find car_fix_wheels/config/controllers.yaml" command="load"/> -->
  <rosparam file="$(find car_fix_wheels)/config/controllers.yaml" command="load"/>

  <!-- Khởi động bộ điều khiển -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="joint_state_controller arm_1_joint_controller arm_2_joint_controller" />
</launch>
